footer{
    .container{
        max-width: 1160px;
        padding: 95px 10px 59px 9px;
        box-sizing: border-box;
        @media (min-width: 479px) and (max-width: 837px){
            max-width: 620px;
        }
        @media (min-width: 320px) and (max-width: 500px){
            max-width: 320px;
            padding: 60px 7px 30px 12px;
            box-sizing: border-box;
        }
        .footer-menu{
            display: -webkit-box;
            display: -moz-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            .footer-logo{
                padding-top: 79px;
                padding-right: 20px;
            }
            ul{
                span{
                    line-height: 33px;
                    text-transform: uppercase;
                    padding-right: 20px;
                    box-sizing: border-box;
                }
                li{
                    a{
                        line-height: 30px;
                        text-transform: uppercase;
                    }
                }
            }
            li:first-child{
                padding-bottom: 18px;
                box-sizing: border-box;
            }
            @media (min-width: 320px) and (max-width: 500px) {
                li:last-child {
                    padding-bottom: 35px;
                    box-sizing: border-box;
                }
            }
            .news-letter-wrap{
                max-width: 360px;
                .title{
                    line-height: 33px;
                    text-transform: uppercase;
                }
                .discription{
                    line-height: 24px;
                    max-width: 347px;
                    padding-top: 18px;
                    box-sizing: border-box;
                }
                @media (min-width: 320px) and (max-width: 500px){
                    .title{
                        text-align: center;
                    }
                    .discription{
                        text-align: center;
                    }
                }
            }
            form{
                text-align: left;
                margin-bottom: 155px;
                margin-top: 42px;
                @media (min-width: 320px) and (max-width: 837px){
                    margin-bottom: 55px;
                    margin-top: 32px;
                }
                input{
                    width: 170px;
                    border: none;
                    padding: 14px 70px 14px 34px;

                    line-height: 24px;
                    text-transform: uppercase;
                    border-radius: 30px;
                }
                button{
                    width:134px;
                    margin-left: -55px;
                    padding: 8px 10px 9px 10px;
                    border: none;
                    line-height: 35px;
                    text-transform: uppercase;
                    border-radius: 30px;

                }
                @media (min-width: 320px) and (max-width: 500px){
                    input{
                        width: 151px;
                        border: none;
                        padding: 9px 44px 10px 24px;
                        line-height: 18px;
                        text-transform: uppercase;
                        border-radius: 30px;
                    }
                    button{
                        width:112px;
                        margin-left: -35px;
                        padding: 8px 10px 9px 10px;
                        border: none;
                        line-height: 20px;
                        text-transform: uppercase;
                        border-radius: 30px;
                    }
                }
            }
            @media (min-width: 320px) and (max-width: 500px) {
                .footer-logo {
                    padding-top: 9px;
                    margin: 0 auto;
                    padding-bottom: 20px;
                    padding-right: 20px;
                    box-sizing: border-box;
                }
            }
        }

        .social {
            display: -webkit-box;
            display: -moz-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            .copyright{
                padding-top: 20px;

                line-height: 24px;
                @media (min-width: 320px) and (max-width: 528px){
                    margin: 0 auto;
                }
            }
            .footer-social-menu{
                padding-top: 17px;
                line-height: 30px;
                text-transform: uppercase;
            }
            ul {
                display: -webkit-box;
                display: -moz-box;
                display: -webkit-flex;
                display: -ms-flexbox;
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                justify-content: center;
                .facebook{

                    padding-right: 40px;
                    @media (min-width: 320px) and (max-width: 528px){
                        padding-left: 20px;
                    }
                }
                .twitter{
                    box-sizing: border-box;
                    padding-right: 40px;
                }
                .instagram{
                    box-sizing: border-box;
                    padding-right: 40px;
                }
                .linkedin{
                    box-sizing: border-box;
                    padding-right: 40px;
                }

            }
        }
    }
}