main{
    overflow-x: hidden;
}

section#about-us{
    .container{
        padding-top: 94px;
        padding-bottom: 91px;
        box-sizing: border-box;
        @media (min-width: 320px) and (max-width: 678px){
            padding: 60px 0 50px 0;
        }
        .title-wrap{
           text-align: center;
            h3{
                line-height: 33px;
                text-transform: uppercase;
            }
            .discription{
                margin: 0 auto;
                line-height: 28px;
                max-width: 679px;
                padding: 38px 0;
                @media (max-width:678px ) {
                    padding: 32px 10px;
                    box-sizing: border-box;
                }
            }
            .btn{
                padding-bottom: 74px;
                a{
                    line-height: 30px;
                    text-transform: uppercase;
                    padding: 13px 26px 15px 26px;
                    box-sizing: border-box;
                    border-radius: 40px;
                }
                    border-bottom: 1px solid #e7eff1;
            }
            @media (min-width: 320px) and (max-width: 500px){
                .btn{
                    padding-bottom: 74px;
                    a{

                        line-height: 30px;
                        text-transform: uppercase;
                        padding: 10px 22px 12px 22px;
                        box-sizing: border-box;
                        border-radius: 40px;
                    }
                }
            }
        }
        .flexslider {
            background: #fff;
            position: relative;
            zoom: 1;
            -webkit-border-radius: 4px;
            -moz-border-radius: 4px;
            border-radius: 4px;
            -webkit-box-shadow: '' 0 1px 4px rgba(0, 0, 0, 0.2);
            -moz-box-shadow: '' 0 1px 4px rgba(0, 0, 0, 0.2);
            -o-box-shadow: '' 0 1px 4px rgba(0, 0, 0, 0.2);
            box-shadow: '' 0 1px 4px rgba(0, 0, 0, 0.2);
        }
        .flexslider .slides {
            padding-top: 58px;
            zoom: 1;
        }
        .flexslider .slides img {
            height: auto;
            -moz-user-select: none;
        }
        .flex-viewport {
            max-height: 2000px;
            -webkit-transition: all 1s ease;
            -moz-transition: all 1s ease;
            -ms-transition: all 1s ease;
            -o-transition: all 1s ease;
            transition: all 1s ease;
        }
        .loading .flex-viewport {
            max-height: 300px;
        }
        .carousel li {
            margin-right: 5px;
        }
        .flex-direction-nav {
            *height: 0;
        }
        .flex-direction-nav a {
            text-decoration: none;
            display: block;
            width: 40px;
            height: 40px;
            margin: -20px 0 0;
            position: absolute;
            top: 50%;
            z-index: 10;
            overflow: hidden;
            opacity: 0;
            cursor: pointer;
            color: rgba(0, 0, 0, 0.8);
            text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3);
            -webkit-transition: all 0.3s ease-in-out;
            -moz-transition: all 0.3s ease-in-out;
            -ms-transition: all 0.3s ease-in-out;
            -o-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
        }
        .flex-direction-nav a:before {
            font-family: "flexslider-icon";
            font-size: 40px;
            display: inline-block;
            content: '\f001';
            color: rgba(0, 0, 0, 0.8);
            text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3);
        }
        .flex-direction-nav a.flex-next:before {
            content: '\f002';
        }
        .flex-direction-nav .flex-prev {
            left: -50px;
        }
        .flex-direction-nav .flex-next {
            right: -50px;
            text-align: right;
        }
        .flexslider:hover .flex-direction-nav .flex-prev {
            opacity: 0.7;
            left: 10px;
        }
        .flexslider:hover .flex-direction-nav .flex-prev:hover {
            opacity: 1;
        }
        .flexslider:hover .flex-direction-nav .flex-next {
            opacity: 0.7;
            right: 10px;
        }
        .flexslider:hover .flex-direction-nav .flex-next:hover {
            opacity: 1;
        }
        .flex-direction-nav .flex-disabled {
            opacity: 0!important;
            filter: alpha(opacity=0);
            cursor: default;
            z-index: -1;
        }
        .flex-pauseplay a {
            display: block;
            width: 20px;
            height: 20px;
            position: absolute;
            bottom: 5px;
            left: 10px;
            opacity: 0.8;
            z-index: 10;
            overflow: hidden;
            cursor: pointer;
            color: #000;
        }
        .flex-pauseplay a:before {
            font-family: "flexslider-icon";
            font-size: 20px;
            display: inline-block;
            content: '\f004';
        }
        .flex-pauseplay a:hover {
            opacity: 1;
        }
        .flex-pauseplay a.flex-play:before {
            content: '\f003';
        }
        .flex-control-nav {
            width: 100%;
            position: absolute;
            bottom: -40px;
            text-align: center;
        }
        .flex-control-nav li {
            margin: 0 6px;
            display: inline-block;
            zoom: 1;
            *display: inline;
        }
        .flex-control-paging li a {
            width: 11px;
            height: 11px;
            display: block;
            background: #666;
            background: rgba(0, 0, 0, 0.5);
            cursor: pointer;
            text-indent: -9999px;
            -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
            -moz-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
            -o-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
            box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
            -webkit-border-radius: 20px;
            -moz-border-radius: 20px;
            border-radius: 20px;
        }
        .flex-control-paging li a:hover {
            background: #333;
            background: rgba(0, 0, 0, 0.7);
        }
        .flex-control-paging li a.flex-active {
            background: #000;
            background: rgba(0, 0, 0, 0.9);
            cursor: default;
        }
        .flex-control-thumbs {
            margin: 5px 0 0;
            position: static;
            overflow: hidden;
        }
        .flex-control-thumbs li {
            width: 25%;
            float: left;
            margin: 0;
        }
        .flex-control-thumbs img {
            width: 100%;
            height: auto;
            display: block;
            opacity: .7;
            cursor: pointer;
            -moz-user-select: none;
            -webkit-transition: all 1s ease;
            -moz-transition: all 1s ease;
            -ms-transition: all 1s ease;
            -o-transition: all 1s ease;
            transition: all 1s ease;
        }
        .flex-control-thumbs img:hover {
            opacity: 1;
        }
        .flex-control-thumbs .flex-active {
            opacity: 1;
            cursor: default;
        }
        ol{
            display: none;
        }
        .flex-prev{

            display: block;
            border: none;
            left: -50px;
            top: -10px;
        }




























    }
}

section#our-features{

    .container {
        padding: 0;
        padding-top: 92px;
        max-width: 1140px;
        @media (min-width: 320px) and (max-width: 678px){
            padding-top: 60px;
        }
        h3 {
            text-align: center;
            margin-bottom: 74px;
            text-transform: uppercase;
        }

        .three-block-wrap {
            display: -webkit-box;
            display: -moz-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-start;
        }
        .first-block-item {
            text-align: right;
            width: 450px;
            margin-bottom: 67px;
            .title-wrap {
                float: left;
                width: 381px;
                .title {
                    a {
                        line-height: 33px;
                        text-transform: uppercase;

                    }

                }
                .discription{
                    line-height: 28px;
                }
            }
            img {
                float: right;
                padding-top: 10px;
            }
        }
        .third-block-item {
            text-align: left;
            width: 450px;
            .title-wrap {
                float: right;
                width: 381px;
                margin-bottom: 67px;
                .title {
                    a {
                        line-height: 33px;
                        text-transform: uppercase;
                    }
                }
                .discription{
                    line-height: 28px;

                }
            }
            img {
                float: left;
                padding-top: 10px;
            }
        }

        @media (min-width: 870px) and (max-width: 1140px) {

            .three-block-wrap {
                display: -webkit-box;
                display: -moz-box;
                display: -webkit-flex;
                display: -ms-flexbox;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: flex-start;
                .first-block-item {
                    text-align: right;
                    width: 300px;
                    margin-bottom: 20px;
                    .title-wrap {
                        float: left;
                        width: 250px;
                    }
                }
                .third-block-item {
                    text-align: left;
                    width: 300px;
                    margin-bottom: 35px;
                    .title-wrap {
                        float: right;
                        width: 250px;
                        margin-bottom: 12px;
                    }
                }
            }
        }
        @media (min-width: 500px) and (max-width: 869px) {
            h3 {
                text-align: center;
                margin-bottom: 45px;
                text-transform: uppercase;
            }
            .three-block-wrap {
                display: -webkit-box;
                display: -moz-box;
                display: -webkit-flex;
                display: -ms-flexbox;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                .first-block-item {
                    text-align: left;
                    width: 450px;
                    margin-bottom: 20px;
                    .title-wrap {
                        float: right;
                        width: 400px;
                    }
                    img {
                        float: left;
                        margin-top: 22px;
                    }
                }
                .third-block-item {
                    text-align: left;
                    width: 450px;
                    margin-bottom: 20px;
                    .title-wrap {
                        float: right;
                        width: 400px;
                        margin-bottom: 0;
                    }
                    img {
                        float: left;
                        margin-top: 22px;
                    }
                }
                .second-block-wrap{
                    display: none;
                }
            }
        }
        @media (min-width: 320px) and (max-width: 499px) {
            h3 {
                text-align: center;
                margin-bottom: 30px;
                text-transform: uppercase;
            }
            .three-block-wrap {
                display: -webkit-box;
                display: -moz-box;
                display: -webkit-flex;
                display: -ms-flexbox;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                .first-block-item {
                    text-align: left;
                    width: 320px;
                    margin-bottom: 20px;
                    .title-wrap {
                        float: right;
                        width: 270px;
                        margin-bottom: 0;
                    }
                    img {
                        float: left;
                        margin-top: 30px;
                    }
                }
                .third-block-item {
                    text-align: left;
                    width: 320px;
                    margin-bottom: 20px;
                    .title-wrap {
                        float: right;
                        width: 270px;
                        margin-bottom: 0;
                    }
                    img {
                        float: left;
                        margin-top: 30px;
                    }
                }
                .second-block-wrap{
                    display: none;
                }
            }
        }
        .black_box{

            padding: 23px 25px 24px 36px;
            box-sizing: border-box;
            p{
                color: white;
                float: left;
                margin: 0;
                margin-top: 5px;
            }
            .btn{
                float: right;
                a{

                    line-height: 30px;
                    text-transform: uppercase;
                    padding: 14px 32px 14px 32px;
                    box-sizing: border-box;
                    border-radius: 40px;
                }
            }
        }
        @media (min-width: 320px) and (max-width: 780px){
            .black_box{
                padding: 23px 25px 24px 36px;
                p{
                    color: white;
                    float: none;
                    margin: 5px 0 25px 0;

                    text-align: center;
                }
                .btn{
                    float: none;
                    text-align: center;
                    a{


                        line-height: 30px;
                        text-transform: uppercase;
                        padding: 11px 25px 11px 25px;
                        box-sizing: border-box;
                        border-radius: 40px;
                    }
                }
            }
        }
    }
}

section#projects{
    .container{
        padding: 94px 0 93px 0;
        @media (min-width: 320px) and (max-width: 678px){
            padding: 60px 0 50px 0;
            box-sizing: border-box;
        }
        @media (max-width:764px){
            max-width: 680px;
            padding: 60px 10px 50px 10px;
            box-sizing: border-box;
        }
        h3{
            line-height: 33px;
            text-transform: uppercase;
            text-align: center;
            padding-bottom: 34px;
        }
        .projects-two-blocks-wrap{
            display: -webkit-box;
            display: -moz-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            @media (max-width:764px){
                display: -webkit-box;
                display: -moz-box;
                display: -webkit-flex;
                display: -ms-flexbox;
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: center;
                align-items: center;
            }
            .projects-first-block-item{
                display: -webkit-box;
                display: -moz-box;
                display: -webkit-flex;
                display: -ms-flexbox;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                position: relative;

                margin-right: 10px;

                @media (max-width:764px){
                    margin-right: 0;
                    margin-bottom: 20px;
                }
                a{
                    max-width: 358px;
                    max-height: 294px;
                }
                    img{
                        max-width: 100%;
                        max-height: 100%;
                    }
                .orange-btn{
                    position: absolute;
                    margin: 20px;

                    border-radius: 20px;
                    line-height: 20px;
                    text-transform: uppercase;
                    padding: 5px 24px 4px 24px;
                    box-sizing: border-box;

                }
                .projects-title-wrap{
                    max-width: 358px;

                    .title{
                        padding: 34px 0 0 29px;
                        box-sizing: border-box;
                        line-height: 33px;
                        text-transform: uppercase;
                    }
                    .discription{
                        line-height: 26px;
                        padding: 10px 32px 52px 29px;
                        box-sizing: border-box;

                    }
                    @media (max-width:764px){
                        .title{
                            padding: 15px 0 0 29px;
                            box-sizing: border-box;
                            line-height: 33px;
                            text-transform: uppercase;
                        }
                        .discription{
                            line-height: 26px;
                            padding: 10px 32px 20px 29px;
                            box-sizing: border-box;
                        }
                    }
                }
            }
            .projects-second-block-item{
                display: -webkit-box;
                display: -moz-box;
                display: -webkit-flex;
                display: -ms-flexbox;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                position: relative;

                a {
                    max-width: 358px;
                    max-height: 294px;
                }
                    img{
                        max-width: 100%;
                        max-height: 100%;
                    }

                .orange-btn{
                    position: absolute;
                    margin: 20px;
                    border-radius: 20px;
                    line-height: 20px;
                    text-transform: uppercase;
                    padding: 5px 13px 4px 13px;
                    box-sizing: border-box;
                }

                .projects-title-wrap{
                    max-width: 749px;

                    .title{
                        padding: 34px 0 0 29px;
                        box-sizing: border-box;
                        line-height: 33px;
                        text-transform: uppercase;


                    }
                    .discription{
                        line-height: 26px;
                        padding: 10px 32px 52px 29px;
                        box-sizing: border-box;

                    }
                    @media (max-width:764px){
                        .title{
                            padding: 15px 0 0 29px;
                            box-sizing: border-box;
                            line-height: 33px;
                            text-transform: uppercase;
                        }
                        .discription{
                            line-height: 26px;
                            padding: 10px 32px 20px 29px;
                            box-sizing: border-box;
                        }
                    }
                }
            }
        }
    }
}




section#services{
    .container{
        padding:  93px 0 92px 0;
        box-sizing: border-box;
        @media (min-width: 320px) and (max-width: 678px){
            padding: 60px 0 50px 0;
            box-sizing: border-box;
        }
        h3{
            text-transform: uppercase;
            text-align: center;
            margin-bottom: 59px;
            @media (max-width: 499px){
                margin-bottom: 29px;
            }
        }
        .services-three-blocks-wrap{
            display: -webkit-box;
            display: -moz-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            .services-block-item{
                margin: 0 8px;
                .first{
                    padding-top: 11px;
                    margin-bottom: 15px;
                }
                .second{
                    margin-bottom: 15px;
                }

                .third{
                    padding-top: 2px;
                    margin-bottom: 17px;
                }
                img{
                    max-width: 100%;
                }
                .img-services {
                    position: relative;
                }
                .img-services:hover .hover-services {
                        display: block;
                    }
                .img-services:active .hover-services {
                    display: block;
                }

                .hover-services {
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    display: none;
                }

                .title{
                    line-height: 33px;
                    text-transform: uppercase;
                }
                .discription{
                    line-height: 28px;
                    max-width: 324px;
                }
            }
            .services-block-item:hover .hover-services {
                display: block;
            }
        }

        @media (max-width: 1050px) {
            .services-three-blocks-wrap{
                display: -webkit-box;
                display: -moz-box;
                display: -webkit-flex;
                display: -ms-flexbox;
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                justify-content: center;
                align-items: center;
                .services-block-item{
                    .discription{
                        line-height: 28px;
                        max-width: 700px;
                    }
                    .second{
                        margin-bottom: 15px;
                        margin-top: 30px;
                    }

                    .third{
                        margin-top: 30px;
                        padding-top: 2px;
                        margin-bottom: 17px;
                    }
                }
            }
        }
    }
}


section#testimonials{

    .container{
        background: url("../images/quote-icon1.png") no-repeat;
        padding-top: 95px;
        padding-bottom: 90px;
        box-sizing: border-box;
      h3{
          text-align: center;
          text-transform: uppercase;
      }
        .client-photo{
            text-align: center;
            margin: 32px 0;
        }
        p{

            line-height: 28px;
            max-width: 894px;
            text-align: center;
            margin: 0 auto;
            background: url("../images/quote-icon2.png") right bottom no-repeat;
            padding-right: 50px;
            padding-bottom: 21px;
            box-sizing: border-box;
        }
        .title{
            padding-top: 31px;
            text-align: center;
            line-height: 28px;
            text-transform: uppercase;
            background: url("../images/bottom-line.png") center top no-repeat;
        }
        .discription{
            text-align: center;
            line-height: 20px;
        }
    }
    @media (max-width: 700px){
        .container{
            padding-top: 60px;
            padding-bottom: 50px;
            box-sizing: border-box;
            background: none;
            p{
                background: none;
                padding-right: 0;

            }
        }
    }
}


section#our-blog{

    .container{
        padding: 91px 10px 94px 10px;
        box-sizing: border-box;
        @media (max-width: 640px){
            padding: 60px 0 50px 0;
            box-sizing: border-box;
        }
        h3{
            text-transform: uppercase;
            text-align: center;
            margin-bottom: 41px;
        }
        .our-block-two-blocks-wrap{
            display: -webkit-box;
            display: -moz-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            flex-direction: row;
            max-width: 1125px;
            margin: 0 auto;
        }

        .our-block-first-item{
            width: 570px;
            display: -webkit-box;
            display: -moz-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;

            img{
                max-width: 100%;
                max-height: 100%;
                padding-right: 10px;
            }
            .our-block-title-wrap{
                width: 262px;
                margin: 0 auto;
                padding-top: 46px;
                padding-right: 8px;
                box-sizing: border-box;
                .data{
                    line-height: 28px;


                }
                .title{
                    line-height: 33px;
                    text-transform: uppercase;
                }
                .discription{
                    line-height: 28px;
                    margin-top: 4px;

            }
            }
        }
        .our-block-second-item{
            display: -webkit-box;
            display: -moz-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            flex-direction: column;
            align-items: center;
            flex-shrink:2;
            width: 555px;
            padding-left: 10px;

            .our-block_title-wrap{
                padding-top: 46px;
                padding-right: 8px;
                max-width: 430px;
                box-sizing: border-box;
                .data{
                    line-height: 28px;
                }
                .title{
                    line-height: 33px;
                    text-transform: uppercase;
                }
                .discription{
                    margin-top: 4px;
                    line-height: 28px;

                }
            }
        }

        @media (max-width: 640px){
            .our-block-two-blocks-wrap{
                display: block;
                background: none;
                max-width: 640px;
            }
            .our-block-first-item{
                display: block;
                margin: 0 auto;
                max-width: 280px;
                margin-bottom: 30px;
                img{
                    display: none;
                }
                .our-block-title-wrap{
                    padding: 0;
                }
            }

            .our-block-second-item{
                display: block;
                margin: 0 auto;
                max-width: 280px;
                padding: 0;
                .our-block_title-wrap{
                    padding: 0;
                    margin: 0 auto;
                    max-width: 262px;
                }
            }
        }
    }
}


section#quick-contact {
    .container {
        padding-top: 95px;
        padding-bottom: 100px;
        box-sizing: border-box;
        @media (min-width: 320px) and (max-width: 678px){
            padding: 60px  10px 50px 10px ;
            box-sizing: border-box;
        }
        h3 {
            text-transform: uppercase;
            text-align: center;
            margin-bottom: 90px;
        }
        @media (min-width: 320px) and (max-width: 779px){
            h3 {
                margin-bottom: 45px;
            }
        }
        .quick-contact-three-blocks-wrap {
            display: -webkit-box;
            display: -moz-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
        }
        .quick-contact-item {
            display: -webkit-box;
            display: -moz-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            width: 358px;
            height: 128px;
            .title-wrap {
                padding-left: 60px;
                .title{
                    a{
                        line-height: 33px;
                        text-transform: uppercase;
                    }
                }
            }
        }
        .quick-contact-img1 {
            background: url("../images/icon-email.png") 12% 69% no-repeat;
        }
        .quick-contact-img2 {
            background: url("../images/icon-call.png") 12% 56% no-repeat;
        }
        .quick-contact-img3 {
            background: url("../images/icon-career.png") 12% 62% no-repeat;
        }
        @media (max-width: 1100px) {
            .quick-contact-three-blocks-wrap {
                display: -webkit-box;
                display: -moz-box;
                display: -webkit-flex;
                display: -ms-flexbox;
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: center;
                align-items: center;
            }
            .quick-contact-item{
                margin: 10px ;
            }
        }
    }
}




